{% extends "layout/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'article:index' %}">Article</a></li>
    <li class="breadcrumb-item"><a href="{% url 'article:details' article.id %}">Détails</a></li>
{% endblock %}

{% block content %}
    <h4>{{article}}</h4>
    <div id="article-details" class="neuropsy-details">
        {% include "layout/data.html" with data_header='Détails' model_data=article_data card_header_id='article-details' card_target_id='article-details-list' show='show' %}
    </div>
{% endblock %}
