{% extends "layout/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'client:index' %}">Client</a></li>
    <li class="breadcrumb-item"><a href="{% url 'client:details' client.id %}">Détails</a></li>
{% endblock %}

{% block content %}
    <h4>{{client}}</h4>
    <div id="client-details" class="neuropsy-details">
        {% include "layout/data.html" with data_header='Détails' model_data=client_data card_header_id='client-details' card_target_id='client-details-list' %}
        {% include "layout/link.html" with link_header='Commandes' link_list=client.order_set.all link_url='order:details' card_header_id='client-order' card_target_id='client-order-list' %}
        {% include "layout/link.html" with link_header='Paiements' link_list=client.payment_set.all link_url='payment:details' card_header_id='client-payment' card_target_id='client-payment-list' %}
        {% include "layout/link.html" with link_header='Rendez-vous' link_list=client.appointment_set.all link_url='appointment:details' card_header_id='client-appointment' card_target_id='client-appointment-list' %}
    </div>
    <br>
{% endblock %}
