{% extends "layout/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'order:index' %}">Commande</a></li>
    <li class="breadcrumb-item"><a href="{% url 'order:details' order.id %}">Détails</a></li>
{% endblock %}

{% block content %}
    <h4>{{order}}</h4>
    <div id="order-details" class="neuropsy-details">
        {% include "layout/data.html" with data_header='Détails' model_data=order_data card_header_id='order-details' card_target_id='order-details-list' show='show' %}
    </div>
{% endblock %}
