{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Anciaux Ghislain ">
    <title>Dashboard · Neuropsy-grandest</title>
	<link href="{% static 'css/bootstrap-4.5.2/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/neuropsy.css' %}" rel="stylesheet">
	<meta name="theme-color" content="#563d7c">
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'home' %}">Neuropsy</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">test</span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
			</li>
		</ul>
	</nav>
    <div class="container-fluid">
        <div class="row">
            {% include "layout/_nav.html" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div id="content">
                    <br>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                        {% block breadcrumb %}{% endblock %}
                      </ol>
                    </nav>
                    {% block content %}{% endblock %}
                </div>
            </main>
          </div>
        </div>
    </body>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-3.5.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap-4.5.2/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            feather.replace()
            //$('.neuropsy-table').DataTable();
        } );
    </script>
    {% block js %}{% endblock %}
</html>
