{% extends "layout/card.html" %}

{% block header %}
    <h6>Détails</h6>
{% endblock %}

{% block body %}
    <form>
        {% for data in appointment_data %}
            <div class="form-group neuropsy-form-group row">
                <label for="{{ data.label }}" class="col-sm-2 col-form-label col-form-label-sm">{{ data.label }}:</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext form-control-sm" id="{{ data.label }}" value="{{ data.value|default_if_none:'' }}">
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}
