{% extends "layout/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'appointment:index' %}">Rendez-vous</a></li>
    <li class="breadcrumb-item"><a href="{% url 'appointment:details' appointment.id %}">Détails</a></li>
{% endblock %}

{% block content %}
    <h4>{{appointment}}</h4>
    <div id="appointment-details" class="neuropsy-details">
        {% include "layout/data.html" with data_header='Détails' model_data=appointment_data card_header_id='appointment-details' card_target_id='appointment-details-list' show='show'%}
    </div>
{% endblock %}
